body {
    height:100vh; 
    color:white;
    margin: 0;
    padding-bottom: 4em;
    background: url(../images/bgimage.png);
    background-attachment: fixed;
    font-family: lato;
}

h1 {
font-size: 2em;
color: white;
text-align: center;
}

nav {
    display: none;
}

nav ul{
    width: 100%;
    height: 3.2em;
    position: fixed;
    bottom: 0;
    background-color:black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 0;
    margin-top: 2em!important;
    padding: 0;
    list-style: none;
    -webkit-box-shadow: 0px -7px 18px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px -7px 18px 0px rgba(0,0,0,1);
    box-shadow: 0px -7px 18px 0px rgba(0,0,0,1);
}

nav ul li {
    flex: 1;
    display: block;
    padding: 0;
    text-align: center;
    margin-bottom: 1em;
}

nav ul li a {
    font-size: 1.2em;
    padding: 0;
    color: white;
    
}

nav ul li.active  {
    color: #28a745;
    text-decoration: none; }

h3 {
    color:white;
}

.title {
    margin-top: 0.5em;
    margin-left: 2em;
    margin-bottom: 0.5em;
}

.previousTeams {
    margin-top: 1em;

}

hr {
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.logo2 {
    width: 2.4em;
    margin-left: 1em;
    float: left;
}

p {
    color: white;
}

.hour {
    margin-left: 2em;
    margin-right: 2em;
}

.far {
    color: black;
}

section #events {
    padding: 0px 0px;
}

#homePage{
    padding-bottom:0px;
}

.teamsLogo{
    width: 1.4em; 
}

.arrow {
    width: 1.2em;
    margin-left: 1em;
}


div p a:hover {
    text-decoration: none;
    color: grey;

}

div p a{
    text-decoration: none;
    color: white;
}

.fa-map-marker {
    color:red;
    margin-left: 0.5em;
}

a.locations {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 43%;
    position: relative;
}

a.locations span.fas{
    position: absolute;
    right: 0;
}

footer {
    border: 0.1em white solid;
    padding: 1em 1em 1em 1em;
    margin-bottom: 5em;
}

.fa-copyright {
    color: white;
}

#homepage,#events{
    display: none;
}

section {
    height: 100vh;
}

.form-login {
    width: 40vh;
    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

#welcome {
    margin-bottom: 1.5em;
    margin-left: 1em;
}

.btn-primary {
    color: #fff;
    background-color: #28a745;
    border-color: #2b6731;
    margin-left: 5.5em;
}

#landingLogo {
    width:12em;
    opacity: 0.8;
    margin-top: 1.5em;
    margin-left: 5em;
}

#continue {
    margin-left: 5.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-decoration: underline;
}

#register {
    margin-left: 4.5em;
    margin-top: 1em;
    text-decoration: underline;
}

.events {
    padding:0 1.5em;
}
